In [1]:
import sys
import os
sys.path.append('../src/scripts')
sys.path.append('../src/classes')
from simulation import simulation

In [2]:
circuit_name = 'c17'
circuit_path = '../src/resources/circuits/'+circuit_name+'.isc'
inputs_path = '../src/resources/inputs/'+circuit_name+'.csv'
test_vectors_path = '../src/resources/test_vector/'+circuit_name+'.csv'
fault_input_path = '../src/resources/fault_input/'+circuit_name+'.csv'

In [3]:
simulation_type = 'true_value' # true_value or PODEM
delay_consideration = False
input_file_generation = False
max_iterations = 70

In [4]:
simulation(simulation_type, circuit_path, inputs_path, fault_input_path, test_vectors_path, delay_consideration, max_iterations, input_file_generation)

level:  3
level:  2
level:  1
level:  0
Circuit Representation:

Primary Inputs:
  1 (ID: 1)
  2 (ID: 2)
  3 (ID: 3)
  6 (ID: 4)
  7 (ID: 5)

Gates:
  Gate ID: 10
    Type: nand
    Delay: 1
    Level: 1
    Inputs: 1 (ID: 1), 8 (ID: 18)
    Output: 10 (ID: 6)

  Gate ID: 11
    Type: nand
    Delay: 1
    Level: 1
    Inputs: 9 (ID: 19), 6 (ID: 4)
    Output: 11 (ID: 8)

  Gate ID: 16
    Type: nand
    Delay: 1
    Level: 2
    Inputs: 2 (ID: 2), 14 (ID: 20)
    Output: 16 (ID: 10)

  Gate ID: 19
    Type: nand
    Delay: 1
    Level: 2
    Inputs: 15 (ID: 21), 7 (ID: 5)
    Output: 19 (ID: 12)

  Gate ID: 22
    Type: nand
    Delay: 1
    Level: 3
    Inputs: 10 (ID: 6), 20 (ID: 22)
    Output: 22 (ID: 14)

  Gate ID: 23
    Type: nand
    Delay: 1
    Level: 3
    Inputs: 21 (ID: 23), 19 (ID: 12)
    Output: 23 (ID: 16)

Fanouts:
  Fanout ID: 1
    Input: 3 (ID: 3)
    Outputs: 8 (ID: 18), 9 (ID: 19)

  Fanout ID: 2
    Input: 11 (ID: 8)
    Outputs: 14 (ID: 20), 15 (ID: 21)

  Fanout ID: 3
    Input: 16 (ID: 10)
    Outputs: 20 (ID: 22), 21 (ID: 23)

Primary Inputs:
  1 (ID: 1) controlability:(1 , 1) observability:5
  2 (ID: 2) controlability:(1 , 1) observability:6
  3 (ID: 3) controlability:(1 , 1) observability:5
  6 (ID: 4) controlability:(1 , 1) observability:7
  7 (ID: 5) controlability:(1 , 1) observability:6

Primary Outputs:
  22 (ID: 14) controlability:(5 , 4) observability:0
  23 (ID: 16) controlability:(5 , 5) observability:0

Net connections:
  8 (ID: 18) controlability:(1 , 1) observability:5
  10 (ID: 6) controlability:(3 , 2) observability:3
  9 (ID: 19) controlability:(1 , 1) observability:7
  11 (ID: 8) controlability:(3 , 2) observability:5
  14 (ID: 20) controlability:(3 , 2) observability:5
  16 (ID: 10) controlability:(4 , 2) observability:3
  15 (ID: 21) controlability:(3 , 2) observability:5
  19 (ID: 12) controlability:(4 , 2) observability:3
  20 (ID: 22) controlability:(4 , 2) observability:3
  21 (ID: 23) controlability:(4 , 2) observability:3


Time step: 0 started -----------------------------
New inputs detected!!!!!!!!
connection: 1 new value:1
updated connection:1, to value:1
connection: 2 new value:0
updated connection:2, to value:0
connection: 3 new value:1
updated connection:3, to value:1
connection: 6 new value:0
updated connection:6, to value:0
connection: 7 new value:1
updated connection:7, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:U
updated connection:15, to value:U
updated connection:20, to value:U
updated connection:21, to value:U
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:U
updated connection:15, to value:U
updated connection:20, to value:U
updated connection:21, to value:U
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:U
updated connection:21, to value:U
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 0 ended -----------------------------
Time step: 1 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 1 ended -----------------------------
Time step: 2 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 2 ended -----------------------------
Time step: 3 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 3 ended -----------------------------
Time step: 4 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 4 ended -----------------------------
Time step: 5 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 5 ended -----------------------------
Time step: 6 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 6 ended -----------------------------
Time step: 7 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 7 ended -----------------------------
Time step: 8 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 8 ended -----------------------------
Time step: 9 started -----------------------------
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:0
updated connection:11, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:0
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:1
updated connection:23, to value:1
updated connection:8, to value:1
updated connection:9, to value:1
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
 input:1, value: 1
 input:2, value: 0
 input:3, value: 1
 input:6, value: 0
 input:7, value: 1

 net:8, value: 1
 net:10, value: 0
 net:9, value: 1
 net:11, value: 1
 net:14, value: 1
 net:16, value: 1
 net:15, value: 1
 net:19, value: 0
 net:20, value: 1
 net:21, value: 1

 output:22, value: 1
 output:23, value: 1
Time step: 9 ended -----------------------------
Time step: 10 started -----------------------------
New inputs detected!!!!!!!!
connection: 1 new value:0
updated connection:1, to value:0
connection: 2 new value:0
updated connection:2, to value:0
connection: 3 new value:0
updated connection:3, to value:0
connection: 6 new value:0
updated connection:6, to value:0
connection: 7 new value:0
updated connection:7, to value:0
updated connection:8, to value:0
updated connection:9, to value:0
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:8, to value:0
updated connection:9, to value:0
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:10, to value:1
updated connection:11, to value:1
updated connection:8, to value:0
updated connection:9, to value:0
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:16, to value:1
updated connection:19, to value:1
updated connection:8, to value:0
updated connection:9, to value:0
updated connection:14, to value:1
updated connection:15, to value:1
updated connection:20, to value:1
updated connection:21, to value:1
updated connection:22, to value:0